* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.contianer {
    width: 100vw;
    height: 100vh;
    border: 2px solid;
    margin: 10%;
}

/* header {
    display: flex;
    width: 100vw;
    position: relative;
    padding: 10px;
    height: 10vh;
} */

.br {
    position: absolute;
    left: 10px;
}

.main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

}

img {
    width: 100%;
}

.num {
    position: relative;
}

p {
    position: absolute;
    background-color: black;
    color: white;
    top: 0px;
    z-index: 1;
    padding: 5px;
}

@media screen and (max-width:990px) {
    .main {
        /* 2-dimensional array(rows & columns) */
        display: grid;
        /* 2-columns 1fragment width */
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:600px) {
    .main {
        display: grid;
        /* 1 column 1fr width */
        grid-template-columns: repeat(1, 1fr);
    }
}